[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "matchednull"]
	path = matchednull
	url = https://github.com/haomeng797-ship-it/matchednull
